body {
  margin: 0;
}

.maindiv {
  display: flex;
}

.leftdiv {
  background-color: rgb(237, 234, 217);
  height: 700px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rightdiv {
  background-color: rgb(230, 183, 154);
  height: 700px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p {
  font-family:'Times New Roman', Times, serif;
  font-size: larger;
  color: rgb(41, 10, 4);
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
}

a {
  background-color: rgb(176, 97, 58);
  color:  rgb(255, 239, 231);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 200;
  padding: 6px 16px;
  border: 2px solid rgb(38, 14, 1);
  text-decoration: none;
}

.thirdimg {
  height: auto;
  width: 185px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  margin-bottom: 35px;
}

.secimg {
  height: auto;
  width: 300px;
  margin-bottom: 40px;
  margin-top: 100px;
}

.about {
  background-color: antiquewhite;
  color: rgb(41, 10, 4);
  text-align: center;
}

.lorem {
  margin-top: 60px;
  font-style: italic;
}
